.cointainer{margin-left: 30px;margin-right:30px}
.alert{padding:2px !important}
.topmarginsmall{margin-top: 6px}
.topmarginmedium{margin-top: 12px}
.bd-callout {
padding: 0.3rem;
margin-top: 0.2rem;
margin-bottom: 0.2rem;
border: 1px solid #eee;
border-left-width: .25rem;
border-radius: .25rem;
}
.bd-callout-bp {
border-left-color: #f0ad4e;
}
.bd-callout-vio {
border-left-color: #f8d7da;
}
.violation{
color: #721c24;
}
.infobox {
position: relative;
padding: 0.1rem;
margin-bottom: 0.1rem;
border: 1px solid transparent;
border-radius: .25rem;
}
.panel-blue{background-color:#10284C;color: #FFF}
.panel{border:1px solid #10284C}
.nav-tabs { border-bottom: 2px solid #10284C; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.nav-tabs > li > a { border: none; color: #666; }
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none;
    color: #FFF;
    background:#10284C;font-weight: bold }
.nav-tabs > li > a::after { content: ""; background: #10284C; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #10284C none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 0px 0; }
.tab-content{padding:5px 0px}
/* #SC{margin-top:15px} */
.card {background: #FFF none repeat scroll 0% 0%; margin-bottom: 30px; margin-top: 12px;}
table {
text-align: left;
line-height: 30px;
border-collapse: separate;
border-spacing: 0;
border: 2px solid #10284C;
width: 100%;
margin: 5px auto;
border-radius: .25rem;
}

thead tr:first-child {
background: #10284C;
color: #fff;
border: none;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	border-top: 1px solid #10284C;
    color: black;
    text-align: center;
}

/* thead tr:last-child th {
border-bottom: 3px solid #ddd;
} */

tbody tr:hover {
background-color: #f2f2f2;
cursor: default;
}


tbody td {
border-bottom: 1px solid #ddd;
}

.button {
color: #aaa;
cursor: pointer;
vertical-align: middle;
margin-top: -4px;
}

.edit:hover {
color: #0a79df;
}

.delete:hover {
color: #dc2a2a;
}
#SC,#scenario{display: inline}
h1,h2,h3{font-size:20px;}
@media only screen and (max-width: 760px),(min-device-width: 768px) and (max-device-width: 1024px)  {
h1,h2,h3{font-size:20px;}
.upsummarysection{padding-top:0px}
/* Force table to not be like tables anymore */
/* table, thead, tbody, th, td, tr { 
display: block; 
}
/* Hide table headers (but not display: none;, for accessibility) */

#scsec{margin-top: -33px}
}
/* editable combo box */
.pc {
    /* pc is positioning context */ 
    position: relative;
    width: 30em;
    max-width: 400px;
}
.pc input[role="combobox"] {
    font-size: 12px;
    height: 1.5em;
    width: 100%; /* of pc */
    border: solid 1px #000;
    min-height: 1em;
    padding: 0.9em 0.5em;
    box-sizing: border-box;
}
.pc [role="status"] {
    position: absolute;
    top: 0.3em;
    right: 0.5em;
    font-size: 0.8em;
    color: #777;
}
.pc ul[role="listbox"] {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    top: 1.5em;
    left: 0;
    background-color: #fff;
    border: solid 1px #ccc;
    width: 100%; /* of pc */
    box-sizing: border-box;
}
.pc li[role="option"] {
    display: block;
    margin: 0;
    padding: 0.3em 0.5em;
    list-style: none;
    font-size: 12px;
    cursor: pointer;
}
.pc li[role="option"]:hover {
    color: #000;
    background-color: #ccc;
}
[aria-selected="true"] {
    color: #fff;
    background-color: #666;
}